.welcomePage,
.monaco-workbench .part.editor > .content .editor-background {
  background-image: url("../image/my-vs-background.png") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}